<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         bootstrap="tests/bootstrap.php"
         printerClass="NunoMaduro\Collision\Adapters\Phpunit\Printer">
    <coverage>
        <include>
            <directory suffix=".php">src/</directory>
        </include>
        <report>
            <clover outputFile="build/logs/clover.xml"/>
            <html outputDirectory="build/coverage/html"/>
            <text outputFile="build/coverage/coverage.txt"/>
        </report>
    </coverage>
    <testsuites>
        <testsuite name="Common">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <logging>
        <log type="testdox-html" target="./build/testdox/testdox.html"/>
        <log type="testdox-text" target="./build/testdox/testdox.txt"/>
    </logging>
</phpunit>
